

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&family=Poppins:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #000;
  }


body{
    position: relative ;
    padding-bottom: 3em;
    min-height: 93vh;
    background: #C9D6FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
}

section{
    width: 400px;
    background: #becad4; 
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

form .form-container{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}

.form-group{

    position: relative;
}

.form_input{
    width: 100%;
    background: none;
    font-size: 0.5rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
}

.form_input:focus + .form_label,
.form_input:not(:placeholder-shown) + .form_label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #040404;

}

.form_label{
    color: #000;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: tramsform .5s #000;
}

  .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }
#img{
    width: 300px;
    margin-top: 0;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}



.controls{
    width: 100%;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
}
 
#tiempostart{
    display: inline-flex;
    align-items: center;

}
#tiempoend{
    display: inline-flex;
    align-items: center;
}



 





footer{
    padding: 1em 0;
    position: absolute;
    bottom: 0%;
    background-color: transparent;
    width: 100%;
    text-align: center;
    height: 70px;
    font-size: smaller;
    
     }
    