{% extends "base/base.html" %}
{% block titulo %}
<title>{{titulo}}</title>
{% endblock %}

{% block body %}
 
      
    <section class="d-flex justify-content-center mt-5 " >
    <div class="container  mt-4  col-sm-12 mx-4 "  id="containerprincipal">
      <div class="d-flex justify-content-center mb-2">
        <img src="{{ url_for('static', filename = 'img/CRP.png') }}" alt="" id="img">
      </div>
        <h1 class="text-center  justifys-center" > Inicio de sesión </h1>
        <form action="" method="post" id="form" >
          {% from "base/macro.html" import render_field %} 
          <div class="form-container">

          <div class="form-group mb-4" >
            {{ render_field(form.usuario, class =" form_input", id="user", placeholder="") }}
            <label for="user" class="form_label">usuario</label>
            <span class="form_line"></span>
          </div>
          <div class="form-group mb-2">
             {{ render_field(form.clave, class =" form_input", id="password", placeholder="") }}
             <label for="password" class="form_label">Contraseña</label>
            <span class="form_line"></span>
          </div>

       <div>
        {{ form.honeypot }}
                        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                        <button  id="boton"  type="submit" class="btn btn-primary mt-3 mb-3 botons " > ingresar </button>
       </div>
      </div>
      </form>
      </div>
      
</div>

      
</section>
<footer>
  <div >
  <p class="font-weight-ligh"> ©Elaborado por digitalizacion industrial corimon C.A. 2023</p>
</div>

</footer>
  
{% endblock %}
{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
{% endblock %}

 