{% extends "base/base.html" %}
{% block titulo %}
<title>{{titulo}}</title>
{% endblock %}
{% block body %}
<style>
  select{
    border-width: 5px;
    height: 2.5rem;
    border-color: rgb(232, 235, 238);
  }

</style>
  
    
      
  
  <section class="d-flex justify-content-center mb-4 col-md-6">
    <div class="container  mt-4  " id="containerprincipal"  >
      <div class="d-flex justify-content-center mb-2">
        <img src="{{ url_for('static', filename = 'img/CRP.png') }}" alt="" id="img">
      </div>
      <form action="" method="post" id="form" >
      {% from "base/macro.html" import render_field %} 
      {{form.csrf_token}}
      {{form.opts}}
    <!--Puesto de trabajo-->
      <div class="container mt-3 mb-2">
  <h4>Indique el puesto de trabajo</h4>
    <select name="cars" id= "puestos_d_trabajo" class="custom-select mb-3 w-100 rounded barra"  >
      <option selected>Puesto de trabajo</option>
      <option value="1"> Electricista</option>
      <option value="2">Mecánico</option>
      <option value="3">Supervisor</option>
      <option value="4">Servicios Generales</option>
    </select>
    
    
    <!-- Ficha del tecnico-->
    <div class="form-group mb-3">
            <label for="ficha" class="text-ibody" required> <h4 class="mb-0"> Ficha del técnico </h4></label>
            {{ render_field(form.ficha, class ="form-control form-group", placeholder="Ficha del técnico") }}
   </div>
    <!--Tiempo de ejecución-->
    
    <div class="form-group mb-3">
    <label for="tiempo" class="text-ibody" required> <h4 class="mb-0"> Tiempo real </h4></label>
    {{ render_field(form.ficha, class ="form-control form-group", placeholder="Indique el tiempo real de ejecución del trabajo") }}
    </div>
     <!--seleccion de notificación-->
     <div class="row">
     <div class="  btn btn-group-succes mb-2 " id="container" data-toggle="buttons" >
      <label class="btn  text-ligth  -checkbox-inline align-item-center " style="color: white;  background-color: rgb(204, 52, 47); border-width: 3px; border-color: rgb(192, 200, 204);"> Notificación Final
        {{render_field(form.checkbox )}}
        
      </label>
      <label class="btn  -checkbox-inline " style="color: white; background-color: rgb(204, 52, 47); border-width: 3px; border-color: rgb(192, 200, 204);"> Comp. Reservas
        {{render_field(form.checkbox )}}
        
      </label>
      <label class="btn   -checkbox-inline align-item-center" style="color: white; background-color: rgb(204, 52, 47);border-width: 3px; border-color: rgb(192, 200, 204);"> Sin trabajo restante

        {{render_field(form.checkbox )}}
        
      </label>

     </div>
    </div>
      <!--Fecha de inicio y hora de inicio, fecha y hora de finalización-->
      <h4 class="mb-2">Fecha y hora  del trabajo</h4>
     <div class="row form-group btn-group-succes d-flex justify-content-center mx-1 px-2">
      <label for="tiempostart" class="btn col-sm-4 col-xl-6 px-2 mx-2 d-flex justify-content-center align-item-center" style="color: white; width: 417px; background-color: rgb(204, 52, 47); border-width: 3px; border-color: rgb(192, 200, 204);" >Iniciado   
        {{ render_field(form.time_start, class="form-group ml-4 ml-2 mr-0 my-2", id=tiempostart )}}
      </label>
      <label for="tiempend" class="btn col-sm-4 col-xl-4 d-flex justify-content-center align-item-center "  style="color: white; width: 417px; background-color:  rgb(204, 52, 47); border-width: 3px; border-color: rgb(192, 200, 204);" >terminado  
        {{ render_field(form.time_end, class="form-group ml-2 mr-0 my-2", id=tiempoend )}}
      </label>
     </div>
        <!-- textarea-->
        <div class=" form-group mb-2 mt-3 ">
          <label for="comentario" class="text-ibody " required> <h4> Texto explicativo del proceso de ejecución del trabajo</h4></label>
          {{render_field(form.texto, class="form-control", id="comentario", rows="5", style="border-width: 3px;")}}
      
      <div class="d-flex justify-content-center mt-2">
      <button  type="submit" class="btn btn-primary " > Enviar </button>
      </div>
  </form>
</div>
</section>

<footer>
  <div >
  <p class="font-weight-lighr"> ©Elaborado por digitalizacion industrial corimon C.A. 2023</p>
</div>
</footer>
{% endblock %}
{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
{% endblock %}
